.player-image {
  height: 80px;
  width: 50px;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 10px;
  bottom: 10%;
}

.player-weapon {
  width: 50px;
  height: 50px;
  animation: rotating 0.5s infinite linear;
  left: 70px;
  bottom: 15%;
  position: absolute;
  filter: drop-shadow(0 0 8px #07bd1e);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
